/*-----FONTES-----*/

@font-face {
  font-family: "HighSpirited";
  src: url(../fonts/HighSpirited.ttf) format("truetype");
}

@font-face {
  font-family: "Dorado_Headline";
  src: url(../fonts/DoradoHeadline.ttf) format("truetype");
}

@font-face {
  font-family: "Headson";
  src: url(../fonts/Headson.otf) format("opentype");
}

@font-face {
  font-family: "Tenby_Five";
  src: url(../fonts/tenby-five.otf) format("opentype");
}

@font-face {
  font-family: "HelloJucky";
  src: url(../fonts/HELLOJUCKY.otf) format("opentype");
}

/*-----CONTAINERS-E-CORESDEFUNDO-----*/
body {
  position: absolute;
  background-image: url(../img/img-backgrounds/gold3.jpg);
  background-size: cover;
}

.container1 {
  text-align: center;
  padding-bottom: 20px;
}

.container2 {
  text-align: center;
  padding-bottom: 20px;
  background-image: url(../img/background2-3.jpeg);
  filter: drop-shadow(1px -8px 5px black);
}

.container3 {
  height: fit-content;
}

.leftcontainer,
.rightcontainer {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.box {
  min-height: 600px;
  height: fit-content;
}

.cor1 {
  /*background-color: #00021d85;*/
}

.cor2 {
  background-color: rgb(0, 0, 0);
}

.cor3 {
  background-color: rgb(0, 0, 0);
}

/*----------------*/

/*----- MENU-----*/

.menu {
  position: sticky;
  z-index: 4;
  height: fit-content;
  top: 0px;
  filter: drop-shadow(0px -4px 10px black);
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #00021d;
  text-align: center;
  border-top: 0.1vh solid #6d4108;
  border-bottom: 0.1vh solid #6d410a;
  max-height: 5vh;
  background-image: url(../img/background2-3.jpeg);
  background-size: cover;
}

.caixa {
  background-color: #ffffff24;
  width: 100%;
  margin: 0 auto;
}

.icons {
  margin: 0 auto;
  max-width: 100%;
  width: 7%;
  padding: 0 29px;
  position: relative;
  top: 3px;
}

/*------------------------------*/

/*----- WELCOME-----*/

.boasvindas {
  text-align: center;
  position: relative;
}

h1 {
  font-size: 56px;
  font-family: Headson;
  font-weight: normal;
  position: relative;
  z-index: 3;
  color: #fbfbfb;
  text-shadow: 0.04em 0.06em 0.04em hsl(231deg 100% 4%);
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

w {
  font-size: 85px;
}

e {
  font-size: 69px;
}

.everyone {
  position: relative;
  margin-left: 9px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  filter: drop-shadow 1px -1px 15px rgb(24, 20, 1);
  position: relative;
  color: white;
  filter: drop-shadow(0px 0px 1px #33220e);
  text-shadow: 0.05em 0.04em 0.06em #130a00;
  z-index: 2;
  background: none;
  font-family: HelloJucky;
  position: relative;
  padding: 15px 15px;
  top: -4vh;
  font-weight: 100;
}

.bordao1 {
  font-size: 27px;
  position: relative;
}

.luizgouveia {
  font-size: 94px;
  text-shadow: 1px 2px 0px #000000;
  color: rgb(255 215 157);
  font-family: HighSpirited;
  word-spacing: -15pt;
  position: relative;
  right: 2px;
  margin-right: auto;
  margin-left: auto;
  top: -6vh;
  font-weight: 100;
  filter: drop-shadow(2px 5px 3px black);
  z-index: 2;
  height: fit-content;
}

.bordao2 {
  position: relative;
  max-width: 70vh;
  margin: 0 auto;
}

.bordao3 {
  position: relative;
  color: #de996d;
  font-weight: 100;
  max-width: 70vh;
  margin: 0 auto;
}

/*------------------------------*/

/*-----Whatsapp-----*/

.whatsapp {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 5;
  width: 9.1%;
}

/*----- FOTOPERFIL-----*/

.facepic {
  position: relative;
  filter: drop-shadow(0px 0px 11px black);
}

/*-----------------------*/

/*-----FUNDO-----*/

.raio {
  position: fixed;
  width: 160%;
  top: -12vh;
  left: -12vh;
  transform: rotate(170deg);
  z-index: -1;
  max-width: 115vh;
  max-height: 185vh;
}

.cave {
  position: relative;
  filter: drop-shadow(0px 25px 6px black);
  z-index: 2;
  background-color: black;
  top: 1vh;
  height: 7px;
}

/*-----TOPICOS E TEXTO-----*/

.topico {
  text-align: center;
  padding: 10vh;
  /* background-color: #00010a; */
  filter: drop-shadow(0px 1px 5px black);
}

p {
  font-size: 36px;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-family: Dorado_Headline;
  color: goldenrod;
  font-weight: bold;
  text-shadow: 1px 2px #0021ff;
}

.texto {
  color: #f6ff6b;
  /* position: relative; */
  font-size: 17px;
  line-height: 2;
  text-align: justify;
  text-shadow: 2.2px 2px 1px #001ff5;
  font-family: Tenby_five;
  letter-spacing: 0.9px;
  border-radius: 40px;
  margin: 3px 8px 4px;
  padding: 20px 3px;
}

.divisaotexto {
  border: 0.01px solid #b18934;
  padding: 5vh 2vh;
  border-radius: 40px;
  background-color: #00010aed;
  position: relative;
  filter: drop-shadow(1px 1px 7px #4a2d14);
}

.fundotexto {
  padding: 2vh 1vh 2vh;
}

@media (min-width: 540px) {
  .icons {
    max-width: 4%;
  }

  .facepic {
    width: 25vh;
  }
}

@media (min-width: 720px) {
  .icons {
    max-width: 2.8%;
    top: 2px;
  }

  .facepic {
    width: 27vh;
  }

  .luizgouveia {
    font-size: 109px;
  }

  .bordao1 {
    font-size: 32px;
  }
}

@media (min-width: 820px) {
  body {
    background-image: url(../img/img-backgrounds/gold.jpg);
  }

  .container1,
  .facepic {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .boasvindas {
    display: block;
    visibility: visible;
    opacity: 100%;
  }

  /*------ CONTAINER-DIVISAO-----*/

  .box2 {
    height: 85vh;
  }

  /*-----LEFT-CONTAINER-----*/

  .leftcontainer {
    display: inline-block;
    /*background-color: #0021ff;*/
    visibility: visible;
    opacity: 100%;
    width: 50%;
    margin-left: 10px;
    text-align: center;
    position: relative;
    vertical-align: bottom;
    float: left;
  }

  .boasvindas {
    top: 9vh;
  }

  h4 {
    font-size: 56px;
    font-family: Headson;
    font-weight: normal;
    position: relative;
    z-index: 3;
    color: #fbfbfb;
    text-shadow: 0.04em 0.06em 0.04em hsl(231deg 100% 4%);
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    left: 10vh;
    font-size: 76px;
  }

  w {
    font-size: 100px;
  }

  e {
    font-size: 76px;
  }

  .everyone {
    font-size: 70px;
    top: 9vh;
    left: -7vh;
  }

  .bordao2 {
    top: 20vh;
    font-size: 35px;
    position: relative;
    left: 2vh;
  }

  .bordao3 {
    top: 22vh;
    font-size: 31px;
    position: relative;
    left: 2vh;
  }

  /*-----RIGHT-CONTAINER-----*/

  .rightcontainer {
    display: inline-block;
    /*background-color: #b18934;*/
    visibility: visible;
    opacity: 100%;
    float: right;
    width: 47%;
    margin-right: 10px;
    text-align: center;
  }

  .facepic2 {
    width: 40vh;
    top: 10vh;
    position: relative;
    filter: drop-shadow(2px 3px 7px black);
    right: 3vh;
  }

  .bordao1 {
    top: 5vh;
    right: 4vh;
    font-size: 35px;
  }

  .luizgouveia {
    font-size: 95px;
    top: 3vh;
    right: 2vh;
  }

  /*----------*/

  h3 {
    font-size: 27px;
  }

  .texto {
    font-size: 18px;
    line-height: 2;
    text-align: none;
    border-radius: none;
    margin: 3px 56px 4px;
  }

  .divisaotexto {
    padding: 6vh 7vh;
    border-radius: 80px;
    margin: -10px auto 2px;
  }
}

@media (min-width: 960px) {
  .bordao2 {
    font-size: 40px;
    width: 90%;
  }

  .bordao3 {
    font-size: 35px;
    width: 90%;
  }

  h4 {
    font-size: 85px;
  }

  .everyone {
    font-size: 75px;
  }

  .luizgouveia {
    font-size: 115px;
  }
}

@media (min-width: 1200px) {
  .boasvindas {
    left: 1vh;
  }

  .facepic2 {
    right: 2vh;
  }

  .bordao1 {
    right: 4vh;
  }

  .bordao2 {
    font-size: 46px;
    left: 5vh;
  }

  .bordao3 {
    font-size: 40px;
    width: 85%;
    left: 3vh;
  }

  h4 {
    font-size: 95px;
  }

  .everyone {
    font-size: 85px;
  }

  .luizgouveia {
    font-size: 130px;
    right: 3vh;
  }
}
